.resDetail {
    text-align: center;
    
    
    
}
.resDetail .resInfo {
    
}
 .resDetail .resInfo h3 {
    margin: 10px 0;
    font-family: 'Montserrat';
    text-transform: capitalize;
    font-weight: bolder;
}

.resDetail .resInfo img {
        margin: 30px 0 40px 0;
        width: 70%;
        height: 100px;
        
}

table {
    margin: 20px 0 0 0;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }







.cart-row {
    
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding: 8px;
    border: #4f868c solid 1px;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	line-height: 10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


