<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliveraison</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!-- header section -->
    <div class="header">
        <div class="container">
            <div class="navbar">
                  <div class="logo">
                      <img src="../templates/img/logo.png" alt="">
                  </div>

                  <ul class="nav">
                    <a href="#" class="active"><i class="fas fa-home icons"><h3 class="icons">home</h3></i></a>
                      <a href="#"><i class="fas fa-sign-in-alt icons"><h3 class="icons">Login</h3></i></a>
                      <a href="#"><i class="fas fa-shopping-cart icons" aria-hidden="true icons"><h3 class="icons">Cart</h3></i></a>
                      <a href="#"><i class="fas fa-phone-alt icons"><h3 class="icons">Contact</h3></i></a>
                      <a href="#"><i class="fas fa-angle-down icons"><h3 class="icons">Language</h3></i></a>
                  </ul>
                  <div class="clear"></div>
              </div>
        </div>
    </div>
    <div class="home">
        <div class="container">
            <div class="search">
                <h2 class="search-content">search and choose your favorite restaurant</h2>
                <form class="searchForm">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

        </div>

    </div>

    <div class="restaurants">
        <div class="container">
            <div class="featured-listings">
                <div class="restaurant-card">
                   <div class="card-header">
                     <div class="">
                       
                     </div>
                   </div>
                  <div class="card-body">
                    <h1><a href="#">Tacos Beldi Agadir</a></h1>
                    <p>Rue d'Oujda , Agadir</p>
                    <div class="rating">
                      <ul>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
            <div class="featured-listings">
                <div class="restaurant-card">
                   <div class="card-header">
                     <div class="favorite-btn">
                       <i class="fas fa-heart"></i>
                     </div>
                   </div>
                  <div class="card-body">
                    <h1><a href="#">Tacos Beldi Agadir</a></h1>
                    <p>Rue d'Oujda , Agadir</p>
                    <div class="rating">
                      <ul>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
            <div class="featured-listings">
                <div class="restaurant-card">
                   <div class="card-header">
                     <div class="favorite-btn">
                       <i class="fas fa-heart"></i>
                     </div>
                   </div>
                  <div class="card-body">
                    <h1><a href="#">Tacos Beldi Agadir</a></h1>
                    <p>Rue d'Oujda , Agadir</p>
                    <div class="rating">
                      <ul>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
            <div class="featured-listings">
                <div class="restaurant-card">
                   <div class="card-header">
                     <div class="favorite-btn">
                       <i class="fas fa-heart"></i>
                     </div>
                   </div>
                  <div class="card-body">
                    <h1><a href="#">Tacos Beldi Agadir</a></h1>
                    <p>Rue d'Oujda , Agadir</p>
                    <div class="rating">
                      <ul>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mg-top">
      <div id="wrapper">
          
          <!--Active and Hoverable Pagination-->
          <ul id="pagination">
            <li><a class="" href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">»</a></li>
          </ul> 
        </div><!--wrapper-->
    </div>

    
    <div class="contactForm">
      <div class="container">
        <div class="contactTypes">
          <p class="contanctTitle">contact us</p>
          <i class="fas fa-map-marker-alt"><h3>address :</h3><span>douar tisket ichamraren</span></i>
          <i class="fas fa-phone-alt"><h3>phone :</h3><span>+212610647538</span></i>
          <i class="fas fa-envelope"><h3>E-mail :</h3><span>saidazmour@yahoo.com</span></i>
          <i class="fas fa-globe-americas"><h3>website :</h3><span>deliveraison.com</span></i>
        </div>
        <div class="contactInfo">
          <div class="info">
            <input type="text" placeholder="Your name" class="mg-r">
            <input type="email" placeholder="Your email" >
          </div>
          <div class="subject">
            <input type="text" placeholder="Subject" >
          </div>
          <div class="message">
            <textarea name="" cols="30" rows="10" placeholder="Your message"></textarea>
          </div>
          <button class="send">Send message</button>
        </div>
      </div>
    </div>
      <div class="clear"></div>
      <div class="footer">
        <div class="container">
          <div class="f-logo">
            <img src="../templates/img/logo.png" alt="">
          </div>
          <div class="f-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
          <p>all rights reserved to <span>deliveraison </span> &copy; 2021</p>
        </div>
      </div>
    


</body>
</html>